.card {
  background-color: white;
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-lg);
  border: 1px solid var(--color-neutral-200);
}

.card--padding-none {
  padding: 0;
}

.card--padding-sm {
  padding: var(--spacing-4);
}

.card--padding-md {
  padding: var(--spacing-6);
}

.card--padding-lg {
  padding: var(--spacing-8);
}

